@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: #fff;
  color: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    background: #000;
    color: #FFF;
  }
}

body {
  font-size: 1rem;
}

html {
  font-family: var(--font-opensans);
}
 
h1, h2 {
  font-family: var(--font-patuaone);
}

.patua {
  font-family: var(--font-patuaone);
}
.opensans {
  font-family: var(--font-opensans);
}
.card {
  @apply border border-gray-200 rounded-lg shadow-sm p-4 bg-white bg-opacity-60;
}
.pill {
  @apply rounded-md px-4 py-2;
}

.flash-in {
  animation: flashIn 2s infinite;
}
@keyframes flashIn {
  0% {
    transform: translateY(45%);
    opacity: 0;
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  4% {
    transform: translateY(0);
    opacity: 1;
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  96% {
    transform: translateY(0);
    opacity: 1;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  100% {
    transform: translateY(-45%);
    opacity: 0;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.slow-swap-sides {
  animation: swapSides 30s infinite;
  animation-direction: alternate;
}
@keyframes swapSides {
  0% {
    transform: rotateY(0deg);
    opacity: 0.2;
    animation-timing-function: cubic-bezier(0.24, 0, 0.35, 1.0);
  }
  25% {
    transform: rotateY(90deg);
    opacity: 0.05;
    animation-timing-function: cubic-bezier(0.24, 0, 0.35, 1.0);
  }
  50% {
    transform: rotateY(180deg);
    opacity: 0.2;
    animation-timing-function: cubic-bezier(0.24, 0, 0.35, 1.0);
  }
  75% {
    transform: rotateY(270deg);
    opacity: 0.05;
    animation-timing-function: cubic-bezier(0.24, 0, 0.35, 1.0);
  }
  100% {
    transform: rotateY(360deg);
    opacity: 0.2;
    animation-timing-function: cubic-bezier(0.24, 0, 0.35, 1.0);
  }
}
