@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: #fff;
  color: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    background: #000;
    color: #FFF;
  }
}

body {
  font-size: 1rem;
}

html {
  font-family: var(--font-opensans);
}
 
h1, h2 {
  font-family: var(--font-patuaone);
}